user.config
engine
bin
obj
.vs
mods/*/*.dll
mods/*/*.mdb
mods/*/*.pdb
OpenRA.Mods.CA/obj
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
/*.exe
/*.exe.config
thirdparty/download/*
IP2LOCATION-LITE-DB1.IPV6.BIN.ZIP
DOCUMENTATION.md
Lua-API.md
StyleCopViolations.xml
.DS_Store